node_modules/
storage/
wasm/
wasm.nacho/
bun*
.secrets
.env
postgres*
prometheus_data
db_backup*
katpool.code-workspace
katpool-app-logs.txt
getNewBlockTemplate
package-lock.json
IMPROVEMENTS.md
google-credentials.json